body{
    overflow-x: hidden;
}
.large-header {
    position: absolute;
    width: 100%;
    height:100vh;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index:-1;
 }
nav{
    background-color:#111;
}
.nav-item{
   margin-right:50px;
    
}
#typed{
    font-size: 90px;
    color:white;
}
#typedc{
    position:relative;
    text-align:center;
    top:20vh;
}
#description{
    color:white;
    margin-left:70px;
    margin-right:70px;
    text-align:justify;
    position: relative;
    top:30vh;
}
ul{
    margin-left:50px;
    
}
li{
    margin-top:40px;
    color:black;
}
#education{
    
    position: relative;
    top:300px;
    background-color:white;
    padding-top:5px;
    padding-bottom: 10px;
}
#tie{
    margin-left:70px;
}
.logo{
    position:relative;
    width:130px;
    height:130px;
    margin-top:40px;
}
#skills{
    display:flex;
    position: relative;
    top:350px;
}
#st{
    margin-left:80px;
}
#skcontainer{
    position:relative;
    top:100px;
    right:60px;
}
#projects{
    position: relative;
    top:450px;
}
#contact{
    position:relative;
    top:500px;
}
#footer{
    position:relative;
    top:550px;
    display:flex;
    
}
.activeb{
    background-color: crimson;
}
#envelope{
    font-size: 30px;
    margin-left:671px;
    margin-bottom: 20px;
}
#github{
    font-size: 30px;
    margin-left:20px;
}
#linkedin{
    font-size: 30px;
    margin-left:20px;
}
#envelope:hover{
    cursor: pointer;
}
#github:hover{
    cursor: pointer;
}
#linkedin:hover{
    cursor:pointer;
}
#copyr{
    font-weight: bold;
    position: relative;
    top:57px;
    right:134px;
}
#proti{
    margin-left:80px;
}
#contt{
    margin-left:80px;
}
label{
    margin-left:82px;
    margin-top:3px;
}
.form-control{
    width:40%;
    margin-left:80px;
}
button{
    margin-left:80px;
}